/* 第一屏 */
.section1{
    /* 背景 不平埔 水平居中 垂直靠下 */
    background: url("../images/section-1-bg.png") no-repeat center bottom;
    /* 设置背景颜色 */
    background-color: #f9dd67;
}
/* 第一屏下第一个图片 */
.section1 .e1 {
   width: 470px;
   height: 50px;
   background: url('../images/section-1-e1.png') no-repeat;
   position: absolute;
   /* 适配不同屏幕宽度 使用百分比 */
   left: 50%;
   /* 因为图片高度是固定值，因此为了适应不同屏幕宽度 */
   /* alternate让元素从目标点运动回初始点 */
   /* infinite 让动画无限制次数*/
   bottom: 500px;
   animation: upAndDown 1.4s linear alternate infinite;
}
/* 第一屏沙发图 */
.section1 .e2{
    width: 134px;
    height: 147px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: 330px;
    background: url("../images/section-1-e2.png") no-repeat;
    animation: upAndDown 2.2s linear alternate infinite;
}
/* 第一屏不动图 */
.section1 .e3{
    width: 824px;
    height: 274px;
    position: absolute;
    left: 50%;
    margin-left: -402px;
    bottom: 200px;
    background: url("../images/section-1-e3.png") no-repeat;
}
/* 第二屏背景图 */
.section2{
    /* 背景 不平埔 水平居中 垂直靠下 */
    background: url("../images/section-2-bg.png") no-repeat center bottom; 
    background-color: #84a2d4;
}
/* 第二屏文字图 */
.section2 .common{
    height: 27px;
    width: 363px;
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    bottom: 540px;
}
.section2 .e1{
    background: url('../images/section-2-e1.png') no-repeat center;
}
.section2 .e2{
   background: url('../images/section-2-e2.png') no-repeat; 
   opacity: 0;
}
/* 第二屏搜索图片 */
.section2 .e3{
    background: url('../images/section-2-e3.png') no-repeat;
    position: absolute;
    width: 222px;
    height: 45px;
    left: 50%;
    margin-left: 400px;
    bottom: 300px;
    opacity: 0;
}
/* 第二屏沙发二字 */
.section2 .e4{
    width: 68px;
    height: 32px;
    background: url('../images/section-2-e4.png');
    position: absolute;
    top: 5px;
    left: 130px;
    opacity: 0;
}
/* 搜索框底下代替图片 */
.section2 .e5{
    position: absolute;
    left: 50%;
    bottom: 300px;
    margin-left: -110px;
    display: none;
}

/* 第二屏八个沙发图 */
/* 图片跟背景图片的区别是背景图片可以等比宽高 */
.section2 .e6{
  position: absolute;
  bottom: 210px;
  right: 50%;
  margin-right: -220px;
  height: 0;
}
.section2 .e7{
    position: absolute;
    /* opacity 也可以使图片隐藏 */
    display: none;
    left: 50%;
    bottom: 335px;
    /* width: 100px; */
    height: 88px;
    /* 因为棕色沙发图的层级不够 所以掉下来不显示,被section3的内容遮盖住了  */
    z-index: 10;
    margin-left: -106px;
}
/* 白色遮罩层 */
.section2 .e8{
    position: absolute;
    background: #fff;
    height: 101px;
    width: 101px;
    left: 50%;
    margin-left: -106px;
    bottom:325px;
    display: none;
}

.section3 .main {
    width: 990px;
    height: 600px;
    background: url('../images/section-3-e1.png') no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -560px;
    bottom:0;
}
.section3{
    background: rgb(239,103,77);
    z-index: 9;
}
.section3 .common {
   width: 296px;
   height: 131px;
   position: absolute;
   left:536px;
   bottom: 168px; 
}
.section3 .e2{
    background: url(../images/section-3-e2.gif) no-repeat;
}
.section3 .e3{
    background: url(../images/section-3-e3.gif) no-repeat;
    opacity: 0;
}
.section3 .cartBtn{
    position: absolute;
    width: 218px;
    height: 58px;
    bottom: 100px;
    left: 530px;
}
.section3 .sofa{
    position: absolute;
    bottom: 238px;
    left: 50%;
    margin-left: -293px;
    display: none;
}
.section3 .e4{
    background: url(../images/section-3-e4.gif) no-repeat;
}
.section3 .e5{
    background: url(../images/section-3-e5.gif) no-repeat;
    opacity: 0;
}
/* 第四屏背景图 */
.section4{
    background:rgb(255, 238, 221) url('../images/section-4-bg.png') no-repeat center bottom;
}
/* 第四屏云彩背景图 */
.section4 .e1{
    background: url(../images/section-4-e1.png) no-repeat;
    position: absolute;
    height: 120px;
    width: 880px;
    left: 50%;
    margin-left: -440px;
    bottom: 530px;
    animation: leftAndRight 20s linear alternate infinite ;
}
.section4 .common{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 450px;
}
.section4 .e3{
 display: none;
}
.section4 .e4{
    position: absolute;
    left: 50%;
    margin-left: -204px;
    bottom: 60px;
    z-index: 11;
}
.section4 .e6{
    position: absolute;
    width: 283px;
    background: url(../images/section-4-e6.png) no-repeat;
    left: 50%;
    height: 270px;
    bottom: 130px;
   transform: translateX(-50%);
   opacity: 0;
}
.section4 .e7{
    position: absolute;
    left: 62px;
    bottom: 162px;
    opacity: 0;
    
}
.section4 .sofa{
    position: absolute;
    bottom: 210px;
    left: 50%;
    margin-left: -50px;
    display: none;
    z-index: -1;
}
/* 第一屏循环动画 */
@keyframes upAndDown {
    from{
        /* 如果用top或者bottom是绝对定位，相当于从页面最顶部或底部开始做动画 */
      transform: translateY(0);
    }
    to {
      transform: translateY(-100px)
    }
}
/* 第四屏云彩循环动画 */
@keyframes leftAndRight {
    from{
        transform: translateX(0)
    }
    to{
       transform: translateX(300px)
    }
}